window {
    background-color: lightgray; /* Dark-themed background */
    border-radius: 20px;
    color: black;
}

button {
    font-size: 16px;
    background-color: #009688;
    color: white;
    border-radius: 5px;
}


button:hover {
    background-color: #2980b9;  /* Darker blue on hover */
}
