window {
    background-color: lightgray; /* Dark-themed background */
    border-radius: 20px;
    color: black;
}

button {
    background-color: whitesmoke;  /* Blue button */
    color: black;               /* White text */
    font-size: 16px;            /* Bigger font */
    padding: 10px;              /* More spacing */
    border-radius: 8px;         /* Rounded corners */
    border: 2px solid #2980b9;  /* Outline */
}

button:hover {
    background-color: #2980b9;  /* Darker blue on hover */
}
